
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #0087C3;
  text-decoration: none;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  /*color: #555555;*/
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  font-family: SourceSansPro;
}

header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#company {
  margin-top:-70px;
  float: center;
  text-align: center;
}

#details {
  margin-bottom: 30px;
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table th,
table td {
  /*padding: 20px;*/
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

table th {
  white-space: nowrap;        
  font-weight:bold;
  background: #a5a5a5;
}

table td {
  text-align: center;
}

.hr{
  color:black;
  width: 180;
  size: 1;
  text-align: left;
}

.aside1{
  float: right;
  text-align: left;
  height: 10%;
  width: 30%;
}

.aside2{
  text-align: left;
  height: 10%;
  width: 60%;
}

footer {
  background: #D3D3D3;
  position: absolute;
  bottom: 20px;
  padding: 1px 0;
  text-align: center;
}

